body {
  font-family: 'Roboto Slab', serif;;
  font-size: 16px;
  line-height: 1;
  background-color: #FFEFEB;
}

.jumbotron {
  text-align: center;
  padding-bottom: 2em;
  background-color: #FFB7A8;
}

hr {
  width: 60%;
}

#currentTime {
  padding: .3em 0 0 0;
}

.myMainP {
  padding: 1em 0 1em 0;
}

textarea {
  width: 100%;
  height: 3;
  padding: 1;
  border: none;
}

.past {
  background-color: #C6C6C6;
  width: 100%;
}

.present {
 background-color: #8aeb5a;
 width: 100%;
}

.future {
  background-color: #7894FC;
  width: 100%;
}